SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_KEY=your-service-role-key
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_JWT_SECRET=your-jwt-secret

GOOGLE_MAP_KEY=AIzaSyDIkgkZpGRx4Um-W_YULlZYr2QOUJaB